

.App {
  text-align: center;
  
}

.arrows img{
  position: fixed; 
  opacity: 30%;
  width: 35rem;
  
}
.largeArrowRight{
  transform: rotate(180deg);
  right: -24rem;
  top: 25rem;
  
}

.largeArrowLeft{
  transform: rotate(90deg);
  left: -25rem;
  top: 18rem;
}

.largeArrowTop{
  transform: rotate(180deg);
  left: 14rem;
  top: -33rem;
} 
.largeArrowBottom{
  transform: rotate(270deg);
  left: 10rem;
  bottom: -32rem;
} 

.largeArrowRightBottom{
  transform: rotate(270deg);
  right: -25rem;
  bottom: 18rem;
} 

.largeArrowLeftBottom{
  left: -23rem;
  bottom: 20rem;
} 

.largeArrowTopLeft{
  transform: rotate(90deg);
  right: 8rem;
  top: -30rem;
}

.largeArrowBottomLeft{
  right: 14rem;
  bottom: -33rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loop_svg{
   position: absolute; 
    height: 100vh;
    width: 100vw;
    padding: 1rem; 
    top: 50%; 
    left: 50%; 
    transform: translateY(-50%) translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;

}