.frame {
    position: absolute; 
    height: 70vh;
    width: 70vw;
    padding: 1rem; 
    top: 50%; 
    left: 50%; 
    transform: translateY(-50%) translateX(-50%); 
    text-align: left;
    display: flex;
    flex-direction: column;
    scrollbar-color: var(--accent-dark) var(--main-dark) ;
    scrollbar-width: thin;
}

.sticky_img_bot_right{
    position:absolute; 
    width: 15rem;
    bottom: -5%;
    right: -3%;

}

.sticky_img_bot_right_small{
    position:absolute; 
    width: 12rem;
    bottom: -1%;
    right: -3%;

}

.flexParent {
    display: flex; 
    justify-content: space-between;
    flex: 1;


}

.tooltiptext {
    color: var(--accent-light);
    padding: 1rem;
}

.smallColumn1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25%; 
}

.smallColumn2 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-left:  2rem;
    flex-grow: 1;
    width: 40%;
    padding: 1.5rem; 
    border: var(--border-styling2);
    border-radius: 0.3rem;
}


.bigColumn {
    padding: 1rem;
    margin: 0 0 0 2rem;
    width: stretch;
    padding: 1.5rem; 
    border: var(--border-styling1);
    border-radius: 0.3rem;
    flex: 1;
    
}

.buttonsCol {
    display: inline-flex;
    flex-direction: column;
    align-items: bottom;
}


.buttonsCol p{
    margin: 0.8rem 0.8rem 0 0;
    padding: 0.5rem;
    background-color: var(--main-light);
    color: var(--main-dark); 
    border-radius: 0.3rem;
    cursor: pointer;
    border: 4px solid var(--main-light);
}

.buttonsCol p:hover{
    /* background-color: var(--accent-light); */
    border: 4px solid var(--accent-light);
}
.selected_label{
    background-color: var(--accent-light) !important;
    border: 4px solid var(--accent-light) !important;

}

.dataCentersButton {
    padding: 1.5rem 0.5rem !important;

}

.dataCentersButton_selected {
    padding: 1.5rem 0.5rem !important;
    background-color: var(--accent-light) !important;
    border: 4px solid var(--accent-light) !important;


}

.rowFlex {
    display:flex;
}

.rawMaterialsButton {
    background-color: var(--accent-dark2);
    padding: 1rem;
    margin: 0.8rem 0rem;
    border-radius: 0.3rem;
    pointer-events: auto;
}

.rawMaterialsButton:hover {
    background-color: var(--accent-dark);
    cursor: pointer;
}

.rawMaterialsButton p {
    pointer-events: auto;
    margin: 0;
}

.flexRow {
    display: flex; 
    align-items: left;
}

.flexRow2 {
    display: flex; 
    align-items: left;
    justify-content: space-between;
    /* height: 100%; */
    flex: 1;


}

.textSubframePink {
    padding: 1rem;
    margin: 1rem 0;
    border:  var(--border-styling1);
    border-radius: 0.3rem;
    flex: 1;
    overflow: auto;
}

.textSubframeBlue {
    padding: 1rem;
    margin: 1rem 0;
    border: var(--border-styling2);
    border-radius: 0.3rem;
    flex: 1;
    overflow: auto;
}


.right_img2{
    width: 20rem;
    height: 16rem;
    position:relative;
    bottom: 5rem;
    right:4rem;
    transform: translate(50%, 50%);
    border: 3px solid var(--accent-light);
    border-radius: 0.3rem;
    object-fit: cover;
}

.tooltip {
    background-color: var(--main-light);
    border-radius: 0.3rem;
    width: 10rem;
}

.text_box{
    flex: 1;
    margin: 0.5rem;
}
