.text_only {
    width: 35rem;
        margin: 0.5rem;
    position: relative;
}

.text_only p{
    font-size: 14px;
}


.img_1{
    bottom: 24rem;
    right:-3rem;
     max-width: 30%;
    position:absolute;
     border-radius: 0.3rem;
    border: var(--border-styling2);
}

.img_2{
    bottom: 13rem;
    right:4rem;
     max-width: 30%;
    position:absolute;
     border-radius: 0.3rem;
    border: var(--border-styling2);
}


.img_4{
    bottom: -1rem;
    right:-3rem;
     max-width: 30%;
    position:absolute;
     border-radius: 0.3rem;
    border: var(--border-styling2);
}