.dot {
  height: 1rem;
  width: 1rem;
  background-color: var(--main-light);
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
  opacity: 0.5;
  cursor: pointer;
}

.dot_selected{
    background-color: var(--accent-light);
    height: 1rem;
    width: 1rem;
     border-radius: 50%;
     display: inline-block;
     margin: 0.5rem;
    opacity: 0.5;
    cursor: pointer;

}

.dots{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
}